<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="userprofile" class="com.stackroute.myapp.model.UserProfile" scope="prototype">

</bean>


 <bean id="userrepo" class="com.stackroute.myapp.repository.UserRepo" scope="singleton">

</bean>

</beans>
